@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #292929;
  --foreground: #ffffff;
  --font-rubik: 'Rubik', sans-serif;
}

@layer base {
  html {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
  
  body {
    @apply overflow-x-hidden;
  }
}

/* Lenis Smooth Scroll Recommended CSS */
html.lenis, html.lenis body {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}
